:root {
  --myPadding: 8px;
  --master-width: 100%;
  --master-height: 60px;
  --button-height: calc(var(--master-height) - calc(var(--myPadding) * 2));
  --button-end: calc(100% - calc(var(--button-height) + var(--myPadding)));
  --dark-grey: #1c1c1c;
  --medium-grey: #808080;
  --light-grey: #dbdcd7;
}
* {
  font-size: 16px;
  scrollbar-width: none;
  box-sizing: border-box;
  -ms-overflow-style: none;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  width: 300px;
  height: 450px;
}
