.block {
  overflow: hidden !important;
  pointer-events: none !important;
}
#sideye-wrapper {
  top: 0 !important;
  left: 0 !important;
  gap: 30px !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  display: flex !important;
  position: fixed !important;
  align-items: center !important;
  pointer-events: none !important;
  flex-direction: column !important;
  justify-content: center !important;
  backdrop-filter: blur(10px) !important;
  background: rgba(0, 0, 0, 0.5) !important;
  z-index: 10000000000000000000000000 !important;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
#sideye {
  width: 300px !important;
  height: auto !important;
  border: none !important;
  border-radius: 0px !important;
  pointer-events: none !important;
}
#enter {
  padding: 1em !important;
  color: white !important;
  font-size: 16px !important;
  border-radius: 50px !important;
  pointer-events: auto !important;
  background: transparent !important;
  font-family: Space-Mono !important;
  border: 1px solid white !important;
}
#giphyLogo {
  right: 20px !important;
  bottom: 20px !important;
  width: 100px !important;
  height: auto !important;
  position: fixed !important;
}
button,
button:focus,
button:hover {
  outline: 0 !important;
  cursor: pointer !important;
}
